.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	width: 100%;
}

.element {
	width: 25%;
	text-align: center;
}

.userElement {

}

.emailElement {

}

.totalNoElement {

}

.actionElement {

}
