{
  "**/*.{ts,js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --allowJs --noEmit --esModuleInterop"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}