h1 {
	text-align: center;
}

.wrapper {
	max-width: 1200px;
	padding: 0 16px;
	margin: auto;
}

.navbar {
	margin-bottom: 20px;
	padding: 10px;
	background: #008cba;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.navbar .create {
	color: #fff;
	font-size: 1.2rem;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 1.4rem;
}

.navbar-brand:hover,
.create:hover {
	color: #fff;
}

.mt-top {
	margin-top: 10px;
}

.note-container {
	text-align: center;
	margin-top: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.space-out {
	margin-right: 10px;
}

.span-space {
	margin-left: 20px;
}

.space-between {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
}
